<html>
  <head>
    <title>AI - Chat</title>
    <link rel="stylesheet" href="../static/yoga/AI-CHAT.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,400&family=Montserrat:wght@300;400;500;600;700&family=Roboto&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href=" ">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
  <body>
           <!---------NAVBAR--------->
          <!---NAVBAR-->
          <div class="topnav">
            <a href="/home">Home</a>
            <a href="/home">Resources</a>
            <a href="/community">Commmunity</a>
           <!--- <a href="Login Form.html" class="split">SignUp</a>  --->
          </div>
        <div class="game_map">
          <div class="row">
            <div class="col-1 col-lg-6">
              <h1 id="head">Communicate to your Virtual Friend<br> <span style="color: #FF6F0F;">"Press Start".</span> </h1>
              <p>Try asking or discussing your doubts , questions , thoughts with your one and only friend <span style="color:cornflowerblue">VIRTUAL FRIEND</span>. He will be guiding you to the ultimate path to solution </p>
              <div class="div">
                <a href="/talk"> <button class="btn-1">Start Talking</button></a>
                <a href="/stopt"><button class="btn-1"> Stop Talking</button></a>
              </div>
            </div>
            <div class="col-lg-6">
              <img id="gify" src="../static/yoga/ezgif.com-video-to-gif.gif" alt="">
            </div>
          </div>

            

            
          </div>
        </div>
  </body>
</html>